<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">



      <h1><p></p></h1>
      <form #loginForm="ngForm" appIdentityRevealed>
        <div [hidden]="loginForm.submitted">
          <div class="cross-validation"
            [class.cross-validation-error]="loginForm.errors?.identityRevealed && (loginForm.touched || loginForm.dirty)">
            <div class="form-group">
              <label for="name">User Name</label>
              <input id="name" name="name" class="form-control" required minlength="4" appForbiddenName="bob"
                [(ngModel)]="hero.name" #name="ngModel">

              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors.forbiddenName">
                  Name cannot be Bob.
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="alterEgo">Password</label>
              <input id="alterEgo" class="form-control" name="alterEgo" #alterEgo="ngModel" [(ngModel)]="hero.alterEgo"
                [ngModelOptions]="{ updateOn: 'blur' }" appUniqueAlterEgo>

              <div *ngIf="alterEgo.pending">Validating...</div>
              <div *ngIf="alterEgo.invalid" class="alert alert-danger alter-ego-errors">
                <div *ngIf="alterEgo.errors?.uniqueAlterEgo">
                  Alter ego is already taken.
                </div>
              </div>
            </div>

            <div *ngIf="loginForm.errors?.identityRevealed && (loginForm.touched || loginForm.dirty)"
              class="cross-validation-error-message alert alert-danger">
              Name cannot match alter ego.
            </div>
          </div>


          <button type="submit" class="btn btn-default" onclick="onSubmit()" [disabled]="loginForm.invalid">Submit</button>
        </div>

        <div class="submitted-message" *ngIf="loginForm.submitted">
          <p>You've submitted your hero, {{ loginForm.value.name }}!</p>
          <button (click)="loginForm.resetForm({})">Add new hero</button>
        </div>
      </form>

    </div><!-- form card register -->
  </div>